<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Finance Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Finance Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Context.Session.GetString("Token") != null)
            {
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                                <a class="btn btn-outline-light mx-2" asp-controller="Home" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-light mx-2" asp-controller="Home" asp-action="Contas">Contas</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-light mx-2" asp-controller="Home" asp-action="Transacoes">Transações</a>
                            </li>
                        </ul>
                    
                </ul>
                
            </div>
            
                <button class="btn btn-light text-secondary">
                    <a asp-controller="Home" asp-action="Logout" style="text-decoration:none"> Sair </a>
                </button>
            }
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
